<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/main.css">

    <title>Evento</title>
</head>
<body>
    <header class = "header">
        <nav class="navbar">
                <ul class="nav-links">
                    <i class="fa fa-times" onClick = "hideMenu()"></i>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="evento.html">Evento</a></li>
                    <li><a href="formulario.html">Inscreva-se</a></li>
                </ul>

                <button class="btnLogin btn"><a href="#">Login</a></button>
            <i class="fa fa-bars" onClick = "showMenu()"></i>
        </nav>
    </header>

    <section class="text-box box02">
        <div class="imgB">
            <img src="../images/avatar04.png" alt="Math Comp" id="boxImg02">
        </div>
        <div class="txtB">
            <h1 class="boxItem title02">Como e quando</h1>
            <p class="boxItem p02">Acontecerá da seguinte forma de um seguinte jeito que explicará o que será o negócio e umas outras coisas para tudo fazer mais sentido, mas vai ser bem legal, não sei estou bem confusa agora</p>
           
            <p class="boxItem p02">Outra parte da explicação que é importante ser explicada é o não sei o que não sei o que não sei o que faça alguma outra coisa! </p>
        </div>
    </section>

    <section class="motivos">

    </section>

    <footer class="footer">
        <h1>Contate-nos:</h1>
        <p class="footerComponent"><i class="bi bi-envelope"></i> Email</p>
        <p class="footerComponent"><i class="bi bi-geo-alt"></i> Rua Benutez, 992, Vila A - Foz do Iguaçu</p>
        <p class="footerComponent"><i class="bi bi-telephone"></i> (45) 99914-1402</p>
    </footer>
    
</body>
</html>