<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../styles/form.css">
    <link rel="stylesheet" href="../styles/main.css">

    <title>Formulário HTML</title>
</head>
<body> 
    <header class = "header">
        <nav class="navbar">
                <ul class="nav-links">
                    <i class="fa fa-times" onClick = "hideMenu()"></i>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="evento.html">Evento</a></li>
                    <li><a href="formulario.html">Inscreva-se</a></li>
                </ul>

                <button class="btnLogin btn"><a href="#">Login</a></button>
            <i class="fa fa-bars" onClick = "showMenu()"></i>
        </nav>
    </header>
    <div class="formContainer">
        <form action="enviar-email.php" class="formulario" method="post">
            <h1>Formulário para Inscrição</h1>
        
            <div class="field">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome*" required>
            </div>
        
            <div class="field">
                <label for="telefone">Genero</label>
                <input type="text" id="genero" name="genero" placeholder="Digite seu Genero*">
            </div>

            <div class="field">
                <label for="email">E-Mail</label>
                <input type="email" id="email" name="email" placeholder="Digite seu E-Mail*" required>
            </div>
        
            <div class="field">
                <label for="curso">Curso</label>
                <input type="text" id="curso" name="curso" placeholder="Digite seu Curso*" required>
            </div>

            <div class="field">
                <label for="periodo">Periodo</label>
                <input type="text" id="periodo" name="periodo" placeholder="Digite seu Periodo*" required>
            </div>
        
            <div class="field">
                <label for="ano">Ano</label>
                <input type="text" id="ano" name="ano" placeholder="Digite seu Ano*" required>
            </div>
            <div class="field">
                <label for="nomedaequipe">Nome da Equipe</label>
                <input type="text" id="ano" name="ano" placeholder="Digite o nome da equipe*" required>
            </div>
            <div class="field">
                <label for="senha">Senha</label>
                <input type="text" id="senha" name="senha" placeholder="Digite sua Senha*" required>
            </div>
            <div class="field">
                <label for="confirmacaosenha">Confirmação da Senha</label>
                <input type="text" id="confirmacaosenha" name="confirmacaosenha" placeholder="Confirme a senha*" required>
            </div>
        
            <input type="submit" name="acao" value="Enviar">
        </form>
    </div>

    <footer class="footer">
        <h1>Contate-nos:</h1>
        <p class="footerComponent"><i class="bi bi-envelope"></i> Email</p>
        <p class="footerComponent"><i class="bi bi-geo-alt"></i> Rua Benutez, 992, Vila A - Foz do Iguaçu</p>
        <p class="footerComponent"><i class="bi bi-telephone"></i> (45) 99914-1402</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>