@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Jost:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
    transition: all 0.7s linear;
}

.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
}

.navbar a:hover {
    transition: 1s;
    opacity: 0.7;
}

.navbar{
    display: flex;
    flex-direction: row;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}

.btn{
    padding: 15px;
    border-radius: 22px;
    cursor: pointer;
}

.btnLogin{
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li{
    margin: 5px;
    padding: 8px 12px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: rgb(16, 100, 100);
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    margin: 20px;
    padding: 25px;
    height: 450px;
    background-image: linear-gradient(to bottom right, #0CB8AE, #CC63CF);
    border-radius: 67px;
    border-bottom-right-radius: 250px;
}

.boxItem{
    margin-top: 40px;
    margin-bottom: 40px;
}

.text-box h1{
    font-family: 'Jost', sans-serif;
    font-size: 72px;
    text-align: left;
    color: #fff;
}

.text-box p{
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    width: 550px;
    color: #fff;
}

.btnDiv{
    display: flex;
    width: 320px;
    justify-content: space-between;
}

.boxBtn{
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 800;
}

.boxBtn a{
    color: #fff;
    text-decoration: none;
}

.saibaBtn{
    background-color: #21DD8E;
    border: none;
}

.incBtn{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}


nav .fa{
    display: none;
}

.missao, .diferencial {
    max-width: 1300px;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contT{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.contP{
    font-size: 22px;
    font-weight: 500;
    margin-top: 22px;
}

.contImg{
    max-width: 350px;
}

.txtDiv{
    max-width: 800px;
}

.footer{
    padding: 4%;
    height: 150px;
    background-image: linear-gradient(to bottom right, #FD6585, #0D25B9);
    font-family: 'Jost', sans-serif;
    font-size: 24px;
}

.footer h1{
    color: #fff;
    font-weight: 600;
}

@media(max-width: 1279px){
    .missao, .diferencial {
        margin: 30px;
    }
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links{
        position: absolute;
        background: #04504c;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }

    .missao, .diferencial {
        margin: 30px;
    }

}

/* CSS das entradas do formulário */

.formulario {
    width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
  }
  .formulario p {
    width: 100%;
    font-size: 1.5em;
  }
  .field {
    width: 100%;
    margin: 15px 0;
  }
  .field label,
  .field span {
    padding-left: 10px;
    font-size: 1.1em;
    display: block;
    width: 100%;
  }
  .radiobox label {
    width: auto;
    display: inline-block;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
  }
  input#nao {
    margin-left: 30px;
  }
  textarea {
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
  }
  input[type="submit"] {
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
  }