<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name = "viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Home</title>
    </head>
    <body>
        <header class = "header">
            <nav class="navbar">
                    <ul class="nav-links">
                        <i class="fa fa-times" onClick = "hideMenu()"></i>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="evento.html">Evento</a></li>
                        <li><a href="#">Inscreva-se</a></li>
                    </ul>

                    <button class="btnLogin btn"><a href="#">Login</a></button>
                <i class="fa fa-bars" onClick = "showMenu()"></i>
            </nav>
        </header>

        <section class="text-box">
            <div class="txtB">
                <h1 class="boxItem title01">Math Comp.</h1>
                <p class="boxItem p01">O projeto de extensão [nome] com sede no Instituto Federal do Paraná te convida a participar da competição de matemática MathX com seus amigos!  </p>
                <div class="btnDiv boxItem">
                    <button class="saibaBtn btn boxBtn"><a href="#">Saiba mais!</a></button>
                    <button class="incBtn btn boxBtn"><a href="#">Inscreva-se</a></button>
                </div>
            </div>
            <div class="imgB">
                <img src="../images/avatar01.png" alt="Math Comp" id="boxImg01">
            </div>
        </section>

        <section class="missao">
            <div class="misImg">
                <img src="../images/avatar02.png" alt="nossa missão" class="contImg">
            </div>
            <div class="txtDiv">
                <h1 class="contT">Nossa missão</h1>
                <p class="contP">A nossa missão é incentivar jovens a explorar o mundo de 
                    competições científicas, estimulando o trabalho em equipe
                    e a importância da troca de racicínio para resolução de 
                    problemas!
                </p>
                <p class="contP">
                    Mais texto mais texto mais texto mais texto mais texto mais
                    texto mais texto mais texto mais texto mais text
                </p>
            </div>
        </section>

        <section class="diferencial">
            <div class="txtDiv">
                <h1 class="contT">Nosso diferencial</h1>
                <p class="contP">
                    O nosso diferencial é que a competição acontecerá 
                    totalmente on-line, permitindo que os alunos possam 
                    trabalhar nas questões direto de casa com seus amigos! 
                </p>
                <p class="contP">
                    Além disso, os resultados são extremamente rápidos, já
                    que a análise das respostas será automatizada. 
                </p>
            </div>
            <div class="difImg">
                <img src="../images/avatar03.png" alt="nossa missão" class="contImg">
            </div>
        </section>
        
        <footer class="footer">
            <h1>Contate-nos</h1>
        </footer>

        <script>
            var nav = document.getElementById("navLinks");

            function showMenu(){
                nav.style.right="0px";
            }
            function hideMenu(){
                nav.style.right="-400px";
            }
        </script>
    </body>
</html>