/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Jost:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

/* Animations */
@keyframes show{
    0%{
        translate: 0px 20px;
        opacity: 0;
    }

    50%{
        translate: 0px -5px;
    }

    100%{
        translate: 0px 0px;
        opacity: 1;
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes expand {
	0% {
		transform: scale(1.0);
	}
	50% {
		transform: scale(1.12);
	}
	100% {
		transform: scale(1.0);
	}
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
    transition: all 0.7s linear;
}

.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: 9;
}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
}

.navbar a:hover {
    transition: 1s;
    opacity: 0.7;
}

.navbar{
    display: flex;
    flex-direction: row;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}

.btn{
    padding: 15px;
    border-radius: 22px;
    cursor: pointer;
}

.btn:hover{
    animation: expand 2.5s ease-in-out infinite;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.btnLogin{
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li{
    margin: 5px;
    padding: 8px 12px;
}

.text-box{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 25px;
    height: 500px;
    background-image: linear-gradient(to bottom right, #0CB8AE, #CC63CF);
    border-radius: 67px;
    border-bottom-right-radius: 250px;
}

.imgB{
    position: relative;
}

#boxImg01{
    max-width: 550px;
    overflow: hidden;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

#boxImg02{
    max-width: 550px;
    animation: expand 9s ease-in-out infinite;
    position: absolute;
    bottom: 0;
}

.boxItem{
    margin-top: 5px;
    margin-bottom: 60px;
}

.text-box .title01{
    font-family: 'Jost', sans-serif;
    font-size: 72px;
    text-align: left;
    color: #fff;
}

.text-box .p01{
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    width: 550px;
    color: #fff;
}

.text-box .title02{
    margin-right: 80px;
    font-family: 'Jost', sans-serif;
    font-size: 64px;
    text-align: right;
    color: #fff;
}

.text-box .p02{
    margin-right: 80px;
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    width: 550px;
    text-align: right;
    color: #fff;
}

.btnDiv{
    display: flex;
    width: 320px;
    justify-content: space-between;
}

.boxBtn{
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 800;
}

.boxBtn a{
    color: #fff;
    text-decoration: none;
}

.saibaBtn{
    background-color: #21DD8E;
    border: none;
}

.incBtn{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}


nav .fa{
    display: none;
}

.missao, .diferencial {
    max-width: 1300px;
    margin: auto;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contT{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.contP{
    font-size: 22px;
    font-weight: 500;
    margin-top: 22px;
}

.contImg{
    max-width: 350px;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.txtDiv{
    max-width: 800px;
    animation: show 2.5s ease;
}

.footer{
    margin-top: 200px;
    padding-bottom: 20px;
    padding: 4%;
    height: 200px;
    background-image: linear-gradient(to bottom right, #0CB8AE, #0D25B9);
    font-family: 'Jost', sans-serif;
    font-size: 24px;
}

.footer h1{
    color: #fff;
    font-weight: 600;
}

.bi{
    color: #fff;
}

.footerComponent{
    margin-top: 20px;
    color: #fff;
}

@media(max-width: 1279px){
    .missao, .diferencial {
        margin: 30px;
    }

    .box02{
        height: 730px;
    }

    #boxImg01{
        max-width: 460px;
    }

    .text-box .p02, .title02{
        max-width: 300px;
    }

    .contImg{
        max-width: 300px;
    }
}

@media(max-width: 980px){
    #boxImg01{
        display: none;
    }
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links{
        position: absolute;
        background: #F9F6EE;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0px;
        text-align: right;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #000;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }

    .missao, .diferencial {
        margin: 30px;
    }
}
